.iconButton{
  all: unset;
  cursor: pointer;
}


.basic{
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  min-width: 176px;
  height: 36px;
  top: 20px;
  left: 20px;
  padding: 6px 20px 6px 20px;
  border-radius: 4px;
  gap: 10px;
}

.primaryIcon {
  background: var(--color-accent-500);
  box-shadow: 0 4px 18px 0 var(--color-accent-900);
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent-300);
  }

  &:active {
    background-color: var(--color-accent-700);
  }

  &:disabled {
    color: var(--color-accent-100);
    background-color: var( --color-accent-900);
  }
 }

.primaryGreyIcon {
  background: var(--color-dark-300);
  box-shadow: 0 2px 10px 0 var(--color-dark-500);
  cursor: pointer;

  &:hover {
    background-color: var(--color-dark-100);
  }

  &:active {
    background-color: var(--color-dark-700);
  }

  &:disabled {
    color: var(--color-dark-100);
    background-color: var( --color-dark-300);
  }
}



